<footer class="page-footer font-small mdb-color pt-4" id="footer">
    <div class="container-fluid text-center text-md-left">
      <div class="row text-center text-md-left mt-3 pb-3">

        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3 card bg-primary">
          <h6 class="card-header font-weight-bold">BarberCachet's</h6>
          <p class="text-justify card-text"><i class="fa fa-home mr-3"></i>Estamos para prestale lo mejor de nuestros servicios, mientras estemos disponibles</p>
        </div>
   
        <hr class="w-100 clearfix d-md-none">

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3 card">
          <h6 class="card-header font-weight-bold">Dirección</h6>
          <p class="text-justify card-text">
            <i class="fa fa-home mr-3"></i>San Fernado Rey, Sector la Coromoto 1era Transv. Municipio Páez Estado Mirando
          </p>
        </div>
      </div>
      <hr>
    </div>
</footer>