<footer>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-4 mt-4 mt-sm-0 mt-md-0">
        <h4> Acerca de <i class="fa fa-paper-plane"></i></h4>
        <hr/>
        <div class="row">
          <div class="col">
            <p> Somos apasionados del desarrollo de software</p>
          </div>
        </div>
      </div>
      
      <div class="col-12 col-sm-12 col-md-4 mt-4 mt-sm-0 mt-md-0">
        <h4> Contactos <i class="fa fa-phone"></i></h4>
        <hr/>
        <div class="row">
          <div class="col">
            <ul class="list-unstyled">
              <li> 
                <address> engeljavierpinto@gmail.com </address> 
              </li>
            </ul>
          </div>
        </div>    
      </div>
  
      <div class="col-12 col-sm-12 col-md-4 mt-4 mt-sm-0 mt-md-0">
        <h4> Dirección <i class="fa fa-map-marker"></i></h4>
        <hr/>
        <div class="row">
          <div class="col">
            <p> San Fernado Rey del Guapo Estado Miranda</p>
            <p> Barlovento Venenzuela </p>
          </div>
        </div>
      </div>
    </div>    
  </footer>