<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>{% block title %} BarberCachet's {% endblock %}</title>
	<link rel="stylesheet" href="{% static 'web/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'web/css/index.css' %}">
	<link rel="stylesheet" href="{% static 'web/css/all.min.css' %}">
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<header id="header">
				<h1 class="title col-lg-1"> BarberCachet's </h1>
			</header>
		</div>
			
		{% include 'web/nav.html' %}

		<div class="row">
		  <div class="col-12">	
		  {% block content %}
			
			{% include 'web/carrusel.html' %}
		
		  {% endblock %}
		  </div>
		</div>
		
	</div>

	<script src="{% static 'web/js/jquery.min.js' %}"></script>
	<script src="{% static 'web/js/popper.min.js' %}"></script>
	<script src="{% static 'web/js/bootstrap.min.js' %}"></script>

	{% block js %}
	{% endblock %}
</body>
</html>