
#menu a {
	color: #FFFFFF;
}

.title {
	color: #B90707;
	font-weight: bold;
}

#menu a:hover {
	color: #FFFFFF;
	background: #B90707;
	font-weight: bold;
}

#servicios:hover {
	color: #FFFFFF;
	background: #B90707;
	font-weight: bold;	
}

#horarios:hover {
	color: #FFFFFF;
	background: #B90707;
	font-weight: bold;	
}

.tabla {
	background: #FFFFFF;
}

#contenido {
	background: #F1F1F1;
}

#carouselExampleIndicators {
	/*background: #DCD8D8;*/
}