{% extends 'servicios/base.html' %}

{% load static %}

{% load servicios_tags %}

{% block title %} {{ block.super }} - Lista {% endblock %}

{% block content %}

  {% if user.is_superuser %}	
  <div class="row offset-md">
    <div class="col-12 mt-3">
      <a href="{% url 'servicios:registrar' %}" class="btn btn-primary" data-link="circle"> <i class="fa fa-plus"></i></a>
    </div>  	
  </div>	
  {% endif %}

	<div class="row offset-md">
	{% for servicio in servicios %}
	  <div class="col-12 col-sm-6 col-md-4 mt-4 mb-4">	
	  	<div class="card" data-servicio="servicio">
	  		<div class="card-img">
	  			<img src="{% if servicio.foto %} {{ servicio.foto.url }} {% else %} {% static 'web/img/2.jpeg' %} {% endif %}" alt="{{ servicio.descripcion }}" class="img-fluid img-servicio">
	  		</div>
	  		<div class="card-body">
		  		<div class="card-title">
		  			<div class="row">
		  				<div class="col-12 col-sm-6 col-md-9">
		  					<h5> {{ servicio.descripcion }} </h5>
		  					<div class="card-text">
		  						<p>Precio: <strong> {{ servicio.precio|precio_bs }} </strong> </p>
		  					</div>
		  				</div>
		  				{% if user.is_superuser %}
		  				<div class="col-12 col-sm-6 col-md-3">
		  					<div class="row">
		  						<div class="col-6 col-sm-6 col-md-8 mr-0 mb-md-2">
		  							<a href="{% url 'servicios:editar_servicio' servicio.pk %}" class="btn btn-primary" data-link='circle'><i class="fa fa-edit"></i></a>
		  						</div>
		  						<div class="col-6 col-sm-6 col-md-3 mr-0 mb-md-2">
		  							<a href="{% url 'servicios:eliminar_servicio' servicio.pk %}" class="btn btn-danger" data-link='circle'><i class="fa fa-trash"></i></a>
		  						</div>
		  					</div>
		  				</div>
		  				{% endif %}
		  			</div>
		  		</div>
	  		</div>
	  	</div>  	
	  </div>
	{% empty %}
		<div class="row">	
		  <div class="col-12 col-md-8 mt-4">
		    <div class="alert alert-primary">
			  	<h4 class="alert-heading"> Upps! Disculpa</h4>
			  	<p>Aún no hemos cargado el precio de los servicios que le ofrecemos. Cargaremos esta información lo antes posible.</p>
				</div>
		  </div>
		</div>
	{% endfor %}

	</div>  

{% endblock %}