{% extends 'servicios/base.html' %}

{% load servicios_tags %}

{% block title %} {{ block.super }} - Lista {% endblock %}

{% block content %}

  {% if user.is_superuser %}	
  <div class="row offset-md-1">
    <div class="col-12 mt-3">
      <a href="{% url 'servicios:registrar' %}" class="btn btn-light"> <i class="fa fa-plus"></i> Add</a>
    </div>  	
  </div>	
  {% endif %}

	<div class="row offset-md-1">
	{% for servicio in servicios %}
	  <div class="col-12 col-sm-6 col-md-4 mt-4 mb-4">	
	  	<div class="card" data-servicio>
	  		<div class="card-img">
	  			<img src="{{ servicio.foto.url }}" alt="{{ servicio.descripcion }}" class="img-fluid img-servicio">
	  		</div>
	  		<div class="card-body">
		  		<div class="card-title">
		  			<h4> {{ servicio.descripcion }} </h4>
		  		</div>
		  		<div class="card-text">
		  			<p>Precio: <strong> {{ servicio.precio|precio_bs }} </strong> </p>
		  		</div>
	  		</div>
	  	</div>  	
	  </div>
	{% empty %}
		<div class="row">	
		  <div class="col-12 col-md-8 mt-4">
		    <div class="alert alert-primary">
			  	<h4 class="alert-heading"> Upps! Disculpa</h4>
			  	<p>Aún no hemos cargado el precio de los servicios que le ofrecemos. Cargaremos esta información lo antes posible.</p>
				</div>
		  </div>
		</div>
	{% endfor %}

	</div>  

{% endblock %}