{% extends 'servicios/base.html' %}

{% block title %} {{ block.super }} - Cortes {% endblock %}

{% block content %} 
  <div class="row offset-md-1">
  {% for corte in cortes %}
    <div class="col-12 col-md-4 mt-4">
	  <figure class="figure">
	    <h3 class="figure-caption"> <strong> {{ corte }} </strong></h3>
		<hr/>
	    <img src="{{ corte.imagen.url }}" class="figure-img img-thumbnail rounded" style="height: 280px; width: 80%;"/>
	  </figure>
	</div>
   {% empty %}
     <div class="col-12 col-md-8 mt-4">
		<div class="alert alert-primary">
		  <h4 class="alert-heading"> Upps! Disculpa</h4>
		  <p>Aún no tenemos disponibles los cortes. Cargaremos esta información lo antes posible.
			  </p>
		</div>
     </div>
   {% endfor %}
   </div>
{% endblock %}