
{% extends 'servicios/base.html' %}

{% block title %} {{ block.super }} - Horario {% endblock %}

{% block content %}
<div class="row offset-md-3">
  <div class="col-12 col-md-8 mt-4">
	{% if horarios %}
	<table class="table table-hover tabla">
		<thead>
			<tr>
				<th> Día </th>
				<th> Desde </th>
				<th> Hasta </th>
			</tr>
		</thead>
		<tbody>
			{% for horario in horarios %}
			<tr id="horarios">
				<td> {{ horario.get_dia_display }}</td>
				<td> {{ horario.hora_inicio }}</td>
				<td> {{ horario.hora_fin }} </td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
		<div class="alert alert-primary">
		  <h4 class="alert-heading"> Upps! Disculpa</h4>
		  <p>Aún no hemos cargado los horarios! Trataremos de hacerlo lo antes posible
			para que puedas saber qué día estaremos trabajando.
		  </p>
		</div>
	{% endif %}
  </div>	
</div>
{% endblock %}