{% extends 'web/index.html' %}

{% block title %} {{ block.super }} - Login {% endblock %}

{% block content %}
	
	<div class="row offset-md-3">
	  <div class="col-12 col-sm-12 col-md-8 mt-4 mb-4">
	  	<div class="card">
	  	  <div class="card-header text-center">
	  	    <h4> Iniciar sesión <i class="fa fa-user"></i></h4>	
	  	  </div>
	  	  <div class="card-body">
			<form action="{% url 'login' %}" method="post">
				{% csrf_token %}

				{% if next %}
				<div class="alert alert-warning">
				  <p class="text-center"> Accede a tu cuenta para poder realizar esta acción!</p>
				</div>
				{% endif %}

				{% if form.errors %}
				<div class="alert alert-danger">
				  <p class="text-center"> * Usuario y/o contraseña invalido!</p>
				</div>
				{% endif %}

				<div class="form-group">
					<label> Usuario </label>
					<input type="text" name="username" class="form-control" />
				</div>
			
				<div class="form-group">
					<label> Contraseña </label>
					<input type="password" name="password" class="form-control" />
				</div>

				<button type="submit" class="btn btn-primary"> <strong> Entrar </strong> <i class="fa fa-paper-plane"></i></button>
			</form>
	  	  </div>	
	  	</div>
	  </div>	
	</div>

{% endblock %}