{% extends 'web/index.html' %}


{% block title %} Servicios {% endblock %}

{% block content %}
	<div class="row offset-3">
		<div class="col-md-5">
			<div class="card">
				<div class="card-header">
					<h3> Aviso!</h3>
				</div>
				<div class="card-body">
					<div class="card-text">
						<p> Estás apundo de eliminar este servicio <strong> {{servicio}} </strong> ¿Estás seguro?</p>
					</div>	
				</div>
				<form action="{% url 'servicios:eliminar_servicio' servicio.pk %}" method="post" class="form-group">
					{% csrf_token %}
				
					<div class="row btn-group offset-1">
						<button type="submit" class="btn btn-outline-danger"> <strong>Sí, seguro!</strong> </button>
						<a href="{% url 'servicios:servicios' %}" class="btn btn-outline-secondary"> Atrás </a>	
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}