{% extends 'web/index.html' %}


{% block content %} 
	<div class="container">
	<div class="row">
		{% if cortes %}
			{% for corte in cortes %}
				<div class="col-sm col-md col-lg-3 m-3">
					<figure class="figure">
						<h3 class="figure-caption"> <strong> {{ corte }} </strong></h3>
						<hr/>
				
						<img src="{{corte.imagen.url}}" class="figure-img img-thumbnail rounded" style="height: 280px; width: 80%;"/>
					</figure>
				</div>
			{% endfor %}
			
		{% else %}
			<div class="row">
				<div class="col">
					<div class="card">
						<div class="card-header text-center">
							<h4> Upps! Aún no hemos cargado los cortes </h4>	
						</div>
					</div>
				</div>
			</div>
		{% endif %}
	</div>
</div>
{% endblock %}