
{% extends 'web/index.html' %}

{% block title %} Horario {% endblock %}

{% block content %}
	
	{% if horarios %}
	<table class="table table-hover tabla">
		<thead>
			<tr>
				<th> Día </th>
				<th> Desde </th>
				<th> Hasta </th>
			</tr>
		</thead>
		<tbody>
			{% for horario in horarios %}
			<tr id="horarios">
				<td> {{ horario.get_dia_display }}</td>
				<td> {{ horario.hora_inicio }}</td>
				<td> {{ horario.hora_fin }} </td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
		<div class="row">
			<div class="col">
				<div class="card">
					<div class="card-header text-center">
						<h4> Disculpa! Aún no tenemos los horarios disponibles </h4>
					</div>
				</div>
			</div>
		</div>
	{% endif %}

{% endblock %}