
{% extends 'web/index.html' %}

{% block title %} Servicios {% endblock %}

{% block content %}
	
	{% if user.is_superuser %}
	<div class="row col-md-2">
		<a href="{% url 'servicios:crear_servicio' %}" class="btn btn-link"> Nuevo </a>
	</div>
	{% endif%}

	{% if servicios %}
	
		<table class="table table-hover tabla">
			<thead>
				<tr>
					<th> Servicios</th>
					<th> Precios </th>
					{% if user.is_superuser %}
					<th> Acciones </th>
					{% endif %}
				</tr>
			</thead>
			<tbody>
				{% for servicio in servicios %}
				<tr id="servicios">
					<td> {{ servicio.descripcion }}</td>
					<td> {{ servicio.precio |floatformat}} Bs.S </td>
					{% if user.is_authenticated and user.is_superuser %}
						<td class="row">
							<a href="{% url 'servicios:editar_servicio' servicio.pk %}" class="btn btn-link"> Editar </a>

							<a href="{% url 'servicios:eliminar_servicio' servicio.pk %}" class="btn btn-link"> Eliminar </a>
						</td>
					{% endif %}
				</tr>
				{% endfor %}
			</tbody>
		</table>
	
	{% else %}
		<div class="row col-md-5 offset-3">
			<div class="col-md-5">
				<h2> Disculpa! Aún no tenemos los servicios disponibles </h2>	
			</div>
		</div>
	{% endif %}

{% endblock %}

{% block card %}
	<div class="card">
		<div class="card-header">
			<h2> Servicios </h2>
		</div>
		<div class="card-body">
			<div class="card-text">	
				<p>Aquí encontrarás todo acerca de nuestros servicios disponible, como también su costo</p>
			</div>
		</div>
	</div>
{% endblock %}