
{% extends 'web/index.html' %}

{% block title %} Horario {% endblock %}

{% block content %}
	
	{% if horarios %}
	<table class="table table-hover tabla">
		<thead>
			<tr>
				<th> Día </th>
				<th> Desde </th>
				<th> Hasta </th>
			</tr>
		</thead>
		<tbody>
			{% for horario in horarios %}
			<tr id="horarios">
				<td> {{ horario.definir_dia }}</td>
				<td> {{ horario.hora_inicio }}</td>
				<td> {{ horario.hora_fin }} </td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
		<div class="row">
			<div class="col-md-5">
				<h2> Disculpa! Aún no tenemos los horarios disponibles </h2>	
			</div>
		</div>
	{% endif %}

{% endblock %}


{% block card %}
	<div class="card">
		<div class="card-header">
			<h2> Horario </h2>
		</div>
		<div class="card-body">
			<div class="card-text">	
				<p> Aquí encontraras todo acerca de nuestros días de trabajo y cada hora en la que estaremos disponibles </p>
			</div>
		</div>
	</div>
{% endblock %}