.alert-primary {
	background: #810D36;
	color: #FFFFFF;
}

.btn[data-link='circle'] {
	border-style: none;
	color: #FFFFFF;
	font-weight: bold;
	border-radius: 100%;
}

.btn-primary {
	border-style: none;
	background: #810D36;
	color: #FFFFFF;
	font-weight: bold;
}

.btn-primary:hover {
	background: #981C48;
	color: #FFFFFF;
}

.bg-primary {
	background: #810D36 !important;
	color: #FFFFFF;
}

#contenido {
	height: 100%;
}

.card[data-servicio='servicio'] {
	height: 450px;
}

.card-img {
	border: 3px dashed #810D36;
}

.img-servicio {
	height: 300px;
	width: 100%;
}

.card-header {
	background: #810D36;
	color: #FFFFFF;
}

.fa-list {
	color: #FFFFFF;
}

footer {
	background: #810D36;
	color: #FFFFFF;
	height: 400px;
	padding: 20px;
	border-radius: 5px;
}

#horarios:hover {
	color: #FFFFFF;
	background: #810D36;
	font-weight: bold;	
}

#menu a {
	color: #FFFFFF;
}

#menu a:hover {
	color: #FFFFFF;
	background: #420B1E;
	font-weight: bold;
	border-radius: 80%;
}

.navbar-brand {
	color: #FFFFFF;
}

.navbar-brand:hover {
	color: #FFFFFF;
}

#servicios:hover {
	color: #FFFFFF;
	background: #810D36;
	font-weight: bold;	
}

.title {
	color: #B90707;
	font-weight: bold;
}

.tabla {
	background: #FFFFFF;
}

@media screen and (min-height: 800px) {

	#contenido {
		height: 100%;
	}
}

@media screen and (max-width: 572px) {
	footer {
		height: auto;	
	}
}