{% load static %}
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
        <div class="carousel-inner">
          <div class="row justify-content-end">
              <div class="carousel-item active col-md-8">
                  <img class="d-block w-80 rounded-circle" src="{% static 'web/img/b5.jpeg' %}">
              </div>
      
              <div class="carousel-item col-md-8">
                  <img class="d-block w-80 rounded-circle" src="{% static 'web/img/b7.jpeg' %}">
              </div> 

              <div class="carousel-item col-md-8">
                <img class="d-block w-80 rounded-circle" src="{% static 'web/img/b2.jpeg' %}">
              </div>
          </div>
      </div>  
    <!-- Botónes del carrusel-->
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Atrás</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Siguiente</span>
      </a>  
</div>