{% extends 'barberos/base.html' %}

{% block title %} {{ block.super }} - Detalle {% endblock %}

{% block content %}

<div class="row offset-md-3">
  <div class="col-12 col-sm-12 col-md-8 mt-4 mb-4">
		<div class="card">
		  <div class="card-header">
				<h3> {{ barbero }}</h3>
		  </div>
		  <div class="card-body">
		  	<div class="card-title">
					<h4> Contactos </h4>	 
		  	</div> 
				<ul class="list-group list-group-flush">
				{% for contacto in contactos %}
					  <li class="list-group-item"> 
						{{ contacto.numero }} <i class="fa fa-phone"></i>

						{% if user.is_superuser %}
							<div class="btn-group">
								<a href="{% url 'barberos:editar_contacto' contacto.pk %}" class="btn btn-link"> <i class="far fa-edit"></i></a>
								<a href="{% url 'barberos:eliminar_contacto' contacto.pk %}" class="btn btn-link"> <i class="far fa-trash-alt"></i> </a>
							</div>
						{% endif %} 
					  </li>
				{% empty %}
					<div class="alert alert-primary">
						<div class="alert-heading"> <h5> No tiene </h5></div>
						<p> Aún no ha registrado sus contacto. </p>
					</div>
				{% endfor %}
				</ul>
		  </div>
		  <div class="card-body">
		  	<div class="card-title">
					<h4> Cuentas </h4>
		  	</div>
				<ul class="list-group">
				{% for cuenta in cuentas %}
					<li class="list-group-item">
						<p> <strong>Banco</strong>: {{ cuenta.banco }} </p> 
						<p> <strong>Cuenta</strong>: {{ cuenta.numero }} </p> 
						<p> <strong>Tipo</strong>: {{ cuenta.get_tipo_display }} </p>
						<p> <strong>Cédula</strong>: {{ barbero.cedula }} </p>
					</li>
				{% empty %}
					<div class="alert alert-primary">
						<div class="alert-heading"> <h5> No tiene </h5></div>
						<p> Aún no ha registrado su cuenta. </p>
					</div>
				{% endfor %}
				</ul>
		  </div>
		  <div class="card-footer">
				<div class="btn-group">
				  {% if user.is_superuser %}
				  <a href="{% url 'barberos:crear_contacto' barbero.pk %}" class="btn btn-link"> Add Contacto</a>
				  {% endif %}
				  <a href="{% url 'barberos:index' %}" class="btn btn-link"> Atrás</a>
				</div>
		  </div>
		</div>
  </div>
</div>
{% endblock %}