{% extends 'web/index.html' %}

{% block title %} Información del Barbero {% endblock %}

{% block content %}
<div class="list-group">
	<h4>Detalles</h4>
		<li class="list-group-item"> 
			Barber: {{ barbero }}
		</li>
		{% if user.is_superuser %}
			<div>
				<a href="{% url 'barberos:crear_contacto' barbero.pk %}" class="btn btn-link"> <i class="fas fa-plus"></i> </a>
			</div>
		{% endif %}

		<h4> Contactos </h4>
		{% if contactos %}
			{% for contacto in contactos %}
				<li class="list-group-item"> 
					Teléfono: {{ contacto.numero }}
				{% if user.is_authenticated and user.is_superuser %}
					<div class="btn-group">
						<a href="{% url 'barberos:editar_contacto' contacto.pk %}" class="btn btn-link"> <i class="far fa-edit"></i></a>
						<a href="{% url 'barberos:eliminar_contacto' contacto.pk %}" class="btn btn-link"> <i class="far fa-trash-alt"></i> </a>
					</div>
				{% endif %}
				</li>
			{% endfor %}
		{% else %}
			<h4> Sin contactos </h4>
		{% endif %}

		<h4> Cuentas </h4>

		
		{% if cuentas %}
			{% for cuenta in cuentas %}
				<li class="list-group-item"> 
					Cuenta: {{ cuenta }} <br/>
					Tipo: {{cuenta.definir_tipo}} <br/>
					Cédula: {{barbero.cedula}}
				</li>
			{% endfor %}
		{% else %}
			<h4> No tiene </h4>
		{% endif %}
</div>
<a href="{% url 'barberos:barberos' %}">Atrás</a>
{% endblock %}