
{% extends 'web/index.html' %}

{% block title %} Barberos {% endblock %}

{% block content %}
	
	{% if user.is_superuser %}
		<div class="row offset-2"> 
			<a href="{% url 'barberos:registrar' %}" class="btn btn-link"> Nuevo </a>
		</div>
	{% endif %}

	{% if barberos %}

		{% for barbero in barberos %}
		<div class="row justify-content-center">
			<div class="card col-md-8">
				<div class="card-header">
					<p>Barber: {{barbero}}
						<a href="{{barbero.get_absolute_url}}"> <i class="far fa-eye"></i></a> 
					</p>
				</div>
				<div class="card-body">
					<div class="card-text">	
							<div class="row col-md-2">
								<p> Estado:  	
								{% if barbero.activo %}

									<i class="fas fa-toggle-on"></i>

								{% else %}

									<i class="fas fa-toggle-off"></i>
			
								{% endif %}
								</p>
							</div>
					</div>
				</div>
			</div>	
		</div> <br/>	
		{% endfor %}
	
	{% else %}
		<div class="row">
			<div class="col-md-5">
				<h2> Disculpa! Aún no tenemos los barberos disponibles </h2>	
			</div>
		</div>
	{% endif %}

{% endblock %}

{% block card %}
	<div class="card">
		<div class="card-header">
			<h2> Barber's </h2>
		</div>
		<div class="card-body">
			<div class="card-text">	
				<p> Aquí encontrarás la información de cada barbero como sus datos bancarios y sus contactos, también sabrás si se encuentra activo (afeitando) o inactivo...</p>
			</div>
		</div>
	</div>
{% endblock %}