{% extends 'barberos/base.html' %}

{% block title %} {{ block.super }} - Eliminar contacto {% endblock %}

{% block content %}
	<div class="row offset-md-3">
	  <div class="col-12 col-sm-12 col-md-8 mt-4">
		<div class="card">
		  <div class="card-header">
			<h3> Aviso!</h3>
		  </div>
		  <div class="card-body">
			<div class="card-text">
			  <p> Estás apundo de eliminar este contacto <strong> {{ contacto.numero }} </strong> ¿Estás seguro?</p>
			</div>	
			<form action="{% url 'barberos:eliminar_contacto' contacto.pk %}" method="post"> {% csrf_token %}				
			  <div class="row btn-group offset-1">
				<button type="submit" class="btn btn-outline-danger"> <strong>Sí, estoy seguro!</strong> </button>
				<a href="{% url 'barberos:barberos' %}" class="btn btn-outline-secondary"> Atrás </a>	
			   </div>
			</form>
		   </div>
		</div>
	  </div>
	</div>
{% endblock %}