
{% extends 'barberos/base.html' %}

{% block content %}

	{% if barberos %}

		{% for barbero in barberos %}
		<div class="row offset-md-3">
		  <div class="col-12 col-sm-12 col-md-8 mt-4">
			<div class="card">
			  <div class="card-header">
				<h5> Barber: {{ barbero }} </h5>
			  </div>
			  <div class="card-body">
				<div class="card-text">	
				  <div class="row col-md-2">
					<p> Estado:  	
						{% if barbero.activo %}
							<i class="fas fa-toggle-on"></i>
						{% else %}
							<i class="fas fa-toggle-off"></i>
						{% endif %}
				    </p>
				  </div>
				</div>
			  </div>
			  <div class="card-footer">
				<a href="{{ barbero.get_absolute_url }}"> Ver <i class="fa fa-eye"></i></a>
			  </div>
		  </div>	
		</div>	
		{% endfor %}
	
	{% else %}
		<div class="row offset-md-3">
			<div class="col-12 col-md-8">
				<h2> Disculpa! Aún no tenemos los barberos disponibles </h2>	
			</div>
		</div>
	{% endif %}

{% endblock %}